# Backend
Backend/chatapp/target/

# Uploaded files
Backend/chatapp/uploads/

# Frontend
Frontend/node_modules/git
Frontend/dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Logs
*.log